/*colors*/
/*breakpoints*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: Oswald, "sans-serif";
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #2b2b2b;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background: transparent;
  border-radius: 5rem;
  border: 1px solid transparent;
  font-size: 2rem;
  transition: 0.5 ease;
  text-align: center;
  margin-left: 9rem;
}
.btn.bg--primary {
  background: #fff021;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
  transition: 0.5 ease;
  background-color: #ffffff;
  color: #fff021;
}

main {
  max-width: 200rem;
  margin: auto;
.home_container_wrapper {
  padding: 8rem;
}
.home_container_wrapper .home_text {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
.home_container_wrapper .home_text h1 {
  margin-bottom: 1.5rem;
}
.home_container_wrapper .home_text .home_button button {
  padding: 1rem;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
}
.home_container_wrapper .home_text .home_button button:first-child {
  background-color: #E51938;
}
.home_container_wrapper .home_text .home_button button:first-child:hover {
  background-color: #F9F5F2;
  color: #E51938;
}
.home_container_wrapper .home_text .home_button button:last-child {
  background-color: #ffffff;
}
.home_container_wrapper .home_text .home_button button:last-child:hover {
  background-color: #000000;
  color: #ffffff;
}
.home_container_wrapper .home_image {
  display: flex;
  justify-content: center;
}
.home_container_wrapper .home_image img {
  width: 350px;
}
@media screen and (min-width: 760px) {
  .home_container_wrapper {
    display: flex;
  }
  .home_container_wrapper .home_text {
    margin-top: 15rem;
    text-align: start;
  }
  .home_container_wrapper .home_text h1 {
    font-size: 50px;
    font-weight: 900;
  }
  .home_container_wrapper .home_image img {
    width: 650px;
  }
}

.features_container_wrapper .features_img {
  display: flex;
  justify-content: center;
}
.features_container_wrapper .features_img img {
  width: 450px;
}
.features_container_wrapper .features_text {
  text-align: center;
  padding-top: 5rem;
}
.features_container_wrapper .features_text p {
  color: #E51938;
}
.features_container_wrapper .features_text h2 {
  width: 370px;
  margin: 0 auto;
  text-align: center;
}
.features_container_wrapper .features_card {
  text-align: center;
  padding: 5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 5rem;
}
.features_container_wrapper .features_card:hover {
  background-color: #E51938;
  color: #ffffff;
}
.features_container_wrapper .features_card:hover p {
  color: #ffffff;
}
.features_container_wrapper .features_card p {
  padding-top: 2.5rem;
  color: #666666;
}

.home_container_wrapper {
  padding: 8rem;
}
.home_container_wrapper .home_text {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
.home_container_wrapper .home_text h1 {
  margin-bottom: 1.5rem;
}
.home_container_wrapper .home_text .home_button button {
  padding: 1rem;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
}
.home_container_wrapper .home_text .home_button button:first-child {
  background-color: #E51938;
}
.home_container_wrapper .home_text .home_button button:first-child:hover {
  background-color: #F9F5F2;
  color: #E51938;
}
.home_container_wrapper .home_text .home_button button:last-child {
  background-color: #ffffff;
}
.home_container_wrapper .home_text .home_button button:last-child:hover {
  background-color: #000000;
  color: #ffffff;
}
.home_container_wrapper .home_image {
  display: flex;
  justify-content: center;
}
.home_container_wrapper .home_image img {
  width: 350px;
}
@media screen and (min-width: 760px) {
  .home_container_wrapper {
    display: flex;
  }
  .home_container_wrapper .home_text {
    margin-top: 15rem;
    text-align: start;
  }
  .home_container_wrapper .home_text h1 {
    font-size: 50px;
    font-weight: 900;
  }
  .home_container_wrapper .home_image img {
    width: 650px;
  }
}

.features_container_wrapper .features_img {
  display: flex;
  justify-content: center;
}
.features_container_wrapper .features_img img {
  width: 450px;
}
.features_container_wrapper .features_text {
  text-align: center;
  padding-top: 5rem;
}
.features_container_wrapper .features_text p {
  color: #E51938;
}
.features_container_wrapper .features_text h2 {
  width: 370px;
  margin: 0 auto;
  text-align: center;
}
.features_container_wrapper .features_text .features_card {
  text-align: center;
  padding: 5rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 5rem;
}
.features_container_wrapper .features_text .features_card:hover {
  background-color: #E51938;
  color: #ffffff;
}
.features_container_wrapper .features_text .features_card:hover p {
  color: #ffffff;
}
.features_container_wrapper .features_text .features_card p {
  padding-top: 2.5rem;
  color: #666666;
}
@media screen and (min-width: 760px) {
  .features_container_wrapper {
    display: flex;
  }
  .features_container_wrapper .features_img img {
    margin-left: 15rem;
    height: 80rem;
  }
  .features_container_wrapper .features_text {
    margin-left: 5rem;
  }
  .features_container_wrapper .features_text_card {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 80rem;
  }
}

.Aboutus_container {
  background-color: #f9f9f9;
  padding: 5rem;
}
.Aboutus_container_wrapper {
  text-align: center;
}
.Aboutus_container_wrapper .Aboutus_text .title {
  color: #E51938;
}
.Aboutus_container_wrapper .Aboutus_text h2 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 2rem;
}
.Aboutus_container_wrapper .Aboutus_text .pg {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2rem;
  color: #666666;
}
.Aboutus_container_wrapper .Aboutus_text .Aboutus_button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.Aboutus_container_wrapper .Aboutus_text .Aboutus_button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 150px;
  color: #E51938;
  background-color: rgba(229, 25, 56, 0.15);
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.3s ease;
}
.Aboutus_container_wrapper .Aboutus_text .Aboutus_button_container:hover {
  background-color: #e51938;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}
.Aboutus_container_wrapper .Aboutus_branding {
  margin-top: 2rem;
}
.Aboutus_container_wrapper .Aboutus_branding img {
  width: 100%;
  max-width: 800px;
}
@media screen and (min-width: 760px) {
  .Aboutus_container_wrapper {
    display: flex;
    text-align: start;
    padding: 5rem;
  }
  .Aboutus_container_wrapper .Aboutus_text {
    margin-top: 15rem;
    margin-right: 10rem;
    margin-left: 10rem;
    width: 100%;
  }
  .Aboutus_container_wrapper .Aboutus_text .Aboutus_button {
    margin-right: 45rem;
  }
  .Aboutus_container_wrapper .Aboutus_branding {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
  }
  .Aboutus_container_wrapper .Aboutus_branding .Aboutus_lady {
    position: relative;
  }
  .Aboutus_container_wrapper .Aboutus_branding .Aboutus_lady img {
    width: 450px;
    margin-right: 10rem;
  }
}
@media screen and (min-width: 760px) {
  .Aboutus_container {
    padding: 0;
  }
}

.osh_container_wrapper .osh_text {
  text-align: center;
  padding-top: 5rem;
}
.osh_container_wrapper .osh_text p {
  color: 0;
}

.about_container_wrapper {
  background: linear-gradient(to right bottom, #fffefe, #fffbf6, #fcfbee, #eafeef, #d7fffe);
  padding: 15rem;
}
.about_container_wrapper .about_text {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: #666666;
  line-height: 170%;
}
.about_container_wrapper .about_text h1 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 1rem;
}

.us {
  padding: 5rem;
}
.us_container_wrapper {
  text-align: center;
}
.us_container_wrapper .us_branding img {
  width: 100%;
}
.us_container_wrapper .us_text {
  font-family: "Nunito Sans", sans-serif;
  line-height: 200%;
}
.us_container_wrapper .us_text .title {
  color: #E51938;
  margin-bottom: 2rem;
}
.us_container_wrapper .us_text h2 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 2rem;
}
.us_container_wrapper .us_text .pg {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2rem;
  color: #666666;
}
.us_container_wrapper .us_button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.us_container_wrapper .us_button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 150px;
  color: #E51938;
  background-color: rgba(229, 25, 56, 0.15);
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.3s ease;
}
.us_container_wrapper .us_button_container:hover {
  background-color: #e51938;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}
@media screen and (min-width: 760px) {
  .us_container_wrapper {
    display: flex;
    text-align: start;
  }
  .us_container_wrapper .us_branding {
    width: 1500px;
  }
  .us_container_wrapper .us_text {
    margin-right: 20rem;
    margin-left: 5rem;
  }
  .us_container_wrapper .us_button {
    display: flex;
    justify-content: start;
  }
}

.mission_container {
  background-color: #f9f9f9;
  padding: 5rem;
}
.mission_container_wrapper {
  text-align: center;
}
.mission_container_wrapper .mission_text {
  line-height: 200%;
}
.mission_container_wrapper .mission_text .title {
  color: #E51938;
}
.mission_container_wrapper .mission_text h2 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 2rem;
}
.mission_container_wrapper .mission_text .pg {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2rem;
  color: #666666;
}
.mission_container_wrapper .mission_text .mission_button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.mission_container_wrapper .mission_text .mission_button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 150px;
  color: #E51938;
  background-color: rgba(229, 25, 56, 0.15);
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.3s ease;
}
.mission_container_wrapper .mission_text .mission_button_container:hover {
  background-color: #e51938;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}
.mission_container_wrapper .mission_branding {
  margin-top: 2rem;
}
.mission_container_wrapper .mission_branding img {
  width: 100%;
  max-width: 450px;
}
.mission_container_wrapper .mission_branding .mission_carry img {
  width: 350px;
}
@media screen and (min-width: 760px) {
  .mission_container_wrapper {
    display: flex;
    text-align: start;
    padding: 5rem;
  }
  .mission_container_wrapper .mission_text {
    margin-top: 15rem;
    margin-right: 25rem;
    margin-left: 10rem;
    width: 100%;
  }
  .mission_container_wrapper .mission_text .mission_button {
    margin-right: 45rem;
  }
  .mission_container_wrapper .mission_branding {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
  }
  .mission_container_wrapper .mission_branding .mission_man {
    position: relative;
  }
  .mission_container_wrapper .mission_branding .mission_man img {
    width: 750px;
  }
  .mission_container_wrapper .mission_branding .mission_carry {
    position: absolute;
  }
  .mission_container_wrapper .mission_branding .mission_carry img {
    margin-top: 22rem;
    margin-right: 35rem;
    width: 250px;
  }
}
@media screen and (min-width: 760px) {
  .mission_container {
    padding: 0;
  }
}

.tau_container .tau_text {
  margin-top: 7rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
.tau_container .tau_text h2 {
  font-size: 200%;
  font-weight: 900;
}
.tau_container .tau_text p {
  color: #E51938;
}
.tau_container_wrapper {
  margin-bottom: 2rem;
}
.tau_container_wrapper .tau_team {
  margin: 2rem;
}
.tau_container_wrapper .tau_team .tau_team_container {
  background-color: rgba(249, 245, 242, 0.45);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_branding {
  display: flex;
  justify-content: center;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_branding img {
  width: 250px;
  border-radius: 50%;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_name {
  text-align: center;
  margin-top: 2rem;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_name p {
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  color: #E51938;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_icon .tau_icon_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #E51938;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_icon .tau_icon_container i {
  color: #ffffff;
  background-color: #E51938;
  padding: 1rem;
  transition: 0.3s ease;
}
.tau_container_wrapper .tau_team .tau_team_container .tau_icon .tau_icon_container i:hover {
  background-color: #ffffff;
  color: #2b2b2b;
  transition: 0.3s ease;
}
.tau_container_wrapper .tau_team .tau_team_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  z-index: 0;
  transform: translateY(-10%);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.tau_container_wrapper .tau_team .tau_team_container:hover .tau_icon {
  top: 90%;
}
.tau_container_wrapper .tau_team .tau_team_container:hover::before {
  background-color: #E51938;
  transform: translateY(0%);
}
.tau_container_wrapper .tau_team .tau_team_container .tau_branding,
.tau_container_wrapper .tau_team .tau_team_container .tau_name {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 760px) {
  .tau_container_wrapper {
    display: flex;
    justify-content: center;
  }
  .tau_container_wrapper .tau_team_container {
    padding: 2rem;
  }
  .tau_container_wrapper .tau_icon {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transition: 0.3s ease;
  }
  .tau_container_wrapper .tau_icon .tau_icon_container {
    display: flex;
    justify-content: center;
    background-color: #E51938;
  }
  .tau_container_wrapper .tau_icon .tau_icon_container i {
    color: #ffffff;
    background-color: #E51938;
    transition: 0.3s ease;
  }
  .tau_container_wrapper .tau_icon .tau_icon_container i:hover {
    background-color: #ffffff;
    color: #2b2b2b;
    transition: 0.3s ease;
  }
}

.creator_container_wrapper {
  background: rgba(249, 245, 242, 0.45);
  padding: 3.5rem;
  margin-bottom: 2rem;
}
.creator_container_wrapper .creator_branding img {
  width: 400px;
}
.creator_container_wrapper .creator_comment {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  z-index: 10;
}
.creator_container_wrapper .creator_comment .creator_text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 540;
  font-style: italic;
  text-align: center;
  z-index: 999;
}
.creator_container_wrapper .creator_pfp .creator_title {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.creator_container_wrapper .creator_pfp .creator_title img {
  width: 50px;
  border-radius: 50%;
}
.creator_container_wrapper .creator_pfp .creator_title .title_text h4 {
  color: #E51938;
  margin-bottom: 0.5rem;
}
.creator_container_wrapper .creator_pfp .creator_title .title_text p {
  color: #666666;
}
.creator_container_wrapper .creator_span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.creator_container_wrapper .creator_span span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #666666;
  transition: 0.3s ease;
  cursor: pointer;
}
.creator_container_wrapper .creator_span span:hover {
  background-color: #E51938;
}
.creator_container_wrapper .creator_span span.active {
  background-color: #E51938;
}
.creator_container_wrapper .creator_slide {
  display: none;
}
.creator_container_wrapper .creator_slide.active {
  display: unset;
}
.creator_container_wrapper .creator_svg {
  display: block;
  position: absolute;
  right: 2rem;
  bottom: 7rem;
  color: #000000;
  opacity: 0.1;
}
@media screen and (min-width: 760px) {
  .creator_container_wrapper {
    display: flex;
  }
  .creator_container_wrapper .creator_branding img {
    width: 600px;
  }
  .creator_container_wrapper .creator_comment {
    margin-left: 2rem;
    position: relative;
  }
  .creator_container_wrapper .creator_comment .creator_text {
    margin-right: 5rem;
    line-height: 1.4;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    text-align: start;
  }
  .creator_container_wrapper .creator_pfp {
    display: flex;
    justify-content: space-between;
  }
  .creator_container_wrapper .creator_span {
    position: absolute;
    right: 12rem;
    bottom: 0.3rem;
  }
  .creator_container_wrapper .creator_svg {
    right: 9rem;
  }
}

.fc_container_wrapper {
  text-align: center;
  margin-top: 5rem;
}
.fc_container_wrapper .fc_card {
  margin-bottom: 2rem;
  padding: 3rem;
  background: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.fc_container_wrapper .fc_card .fc_svg svg {
  color: #E51938;
}
.fc_container_wrapper .fc_card .fc_text h1 {
  color: #000000;
  font-weight: 900;
}
.fc_container_wrapper .fc_card .fc_text p {
  color: #666666;
}
@media screen and (min-width: 760px) {
  .fc_container_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .fc_container_wrapper .fc_card {
    display: flex;
  }
  .fc_container_wrapper .fc_card .fc_text {
    text-align: start;
  }
  .fc_container_wrapper .fc_card .fc_text h1 {
    margin-bottom: 1rem;
  }
}

.boxes {
  position: relative;
}
.boxes_container_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E51938;
  border-radius: 10px;
  padding: 7rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.boxes_container_wrapper .boxes_img img {
  width: 100%;
}
.boxes_container_wrapper .boxes_txt {
  color: #ffffff;
  text-align: center;
}
.boxes_container_wrapper .boxes_txt .bxs {
  font-weight: 400;
  margin-bottom: 1rem;
}
.boxes_container_wrapper .boxes_txt h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.boxes_container_wrapper .boxes_txt .dbxs {
  font-size: small;
  font-weight: 100;
  line-height: 2.3cap;
}
.boxes_container_wrapper .boxes_btn {
  margin-top: 2rem;
  display: flex;
  text-align: center;
  width: 18rem;
  padding: 1rem;
  margin-left: 8rem;
  border-radius: 10px;
  background: #ffffff;
  transition: 0.7s ease;
}
.boxes_container_wrapper .boxes_btn svg {
  color: #2b2b2b;
  margin-left: 2rem;
  transition: 0.7s ease;
}
.boxes_container_wrapper .boxes_btn p {
  color: #2b2b2b;
  margin-left: 1rem;
  font-weight: 600;
  transition: 0.7s ease;
}
.boxes_container_wrapper .boxes_btn:hover {
  background: #000000;
  cursor: pointer;
  transition: 0.7s ease;
}
.boxes_container_wrapper .boxes_btn:hover svg, .boxes_container_wrapper .boxes_btn:hover p {
  color: #ffffff;
  transition: 0.7s ease;
}
@media screen and (min-width: 760px) {
  .boxes_container_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    padding: 3rem;
    margin-left: 1rem;
    margin-left: 20rem;
    width: 120rem;
    overflow-x: hidden;
  }
  .boxes_container_wrapper .boxes_img {
    position: absolute;
    left: 0;
  }
  .boxes_container_wrapper .boxes_img img {
    width: 670px;
    height: auto;
    top: 0;
    left: 0;
  }
  .boxes_container_wrapper .boxes_txt {
    padding: 5rem;
    margin-top: 5rem;
    margin-left: 25rem;
    text-align: start;
  }
}

.team {
  background: linear-gradient(to right bottom, #fffefe, #fffbf6, #fcfbee, #eafeef, #d7fffe);
  margin: 0 auto;
  text-align: center;
  height: 35rem;
}
.team_title {
  padding-left: 0;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 80px;
  font-size: 35px;
}
.team_text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team h1 {
  padding-top: 5rem;
  margin: 0 auto;
}
.team ul {
  display: flex;
  gap: 2rem;
  padding-top: 5rem;
  padding-right: 0rem;
  padding-left: 0;
}
.team li a {
  text-decoration: underline;
  color: #E51938;
}
.team .Home_teamsilder {
  color: #E51938;
}

.Expert {
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}
.Expert_title {
  color: #E51938;
  padding-top: 5rem;
  font-size: 13px;
}
.Expert_text {
  padding-top: 0rem;
  font-size: 22px;
}
.Expert_sentence {
  line-height: 1.8;
  font-size: 17px;
  gap: 2rem;
  text-align: center;
  padding-top: 1rem;
}

.Members {
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  /* Basic styles for the slider */
  /* Responsive styles */
}
.Members .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.Members .slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.Members .slide {
  min-width: 88%;
  box-sizing: border-box;
}
.Members .slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.Members .prev {
  left: 10px;
  display: none;
}
.Members .next {
  right: 10px;
  display: none;
}
.Members .slider-pagination {
  text-align: center;
  margin-top: 10px;
}
.Members .slider-pagination button {
  border: none;
  background: #bbb;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.Members .slider-pagination .active {
  background: #333;
}
.Members .hidden {
  display: none;
}
@media screen and (min-width: 980px) {
  .Members .slide {
    height: 450px;
    width: 100%;
    min-width: 21%;
  }
}
.Members .slide {
  margin: 3rem;
}
.Members .slide .Members_cards1 {
  height: 450px;
  background-color: rgba(249, 245, 242, 0.45);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.Members .slide .Members_cards1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: transparent;
  border-radius: 0 0 50% 50%;
  z-index: 0;
  transform: translateY(-10%);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.Members .slide .Members_cards1:hover .Members_dots {
  top: 70%;
}
.Members .slide .Members_cards1:hover::before {
  background-color: #E51938;
  transform: translateY(0%);
}
.Members .slide .Members_cards1 .Members_img {
  display: flex;
  justify-content: center;
  position: relative;
}
.Members .slide .Members_cards1 img {
  width: 250px;
  border-radius: 50%;
  margin: 2rem 9rem;
}
.Members .slide .Members_cards1 .Members_Name {
  text-align: center;
  justify-content: center;
}
.Members .slide .Members_cards1 .Members_Name h2 {
  font-size: 2rem;
}
.Members .slide .Members_cards1 .Members_Name h5 {
  color: #E51938;
  padding-top: 1rem;
}
.Members .slide .Members_cards1 .Members_links {
  background-color: #E51938;
  height: 30px;
  transition: var(--transition);
}
.Members .slide .Members_cards1 ul {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: #E51938;
}
.Members .slide .Members_cards1 li {
  transition: 0.3s ease;
  color: #ffffff;
  padding: 1rem;
}
.Members .slide .Members_cards1 li:hover {
  height: 2rem;
  color: #2b2b2b;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.banner_container {
  background: linear-gradient(to right bottom, #fffefe, #fffbf6, #fcfbee, #eafeef, #d7fffe);
  width: 100%;
  padding: 6rem;
  margin-top: 10rem;
}
@media screen and (min-width: 760px) {
  .banner_container {
    padding: 10rem;
    margin-bottom: 6rem;
  }
}
.banner_text {
  margin-bottom: 3rem;
  margin-left: 1rem;
  text-align: center;
  padding: 0.6rem;
}
.banner_text h2 {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}
@media (min-width: 760px) {
  .banner_text h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-right: 5rem;
  }
}
.banner_text ul {
  font-size: 1rem;
  list-style: none;
  display: block;
  margin-right: 1rem;
  margin-top: 1rem;
}
@media (min-width: 760px) {
  .banner_text ul {
    margin-right: 8rem;
    margin-top: 1.7rem;
  }
}
.banner_text ul li {
  letter-spacing: 0.4px;
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
  margin: 0 3px;
}
@media (min-width: 760px) {
  .banner_text ul li {
    font-size: 17px;
  }
}
.banner_text ul li a {
  text-decoration: none;
  color: #E51938;
}
.banner_text ul li a .lsst {
  color: #2b2b2b;
}
.banner_text ul li a:hover {
  color: #2b2b2b;
  transition: 1s ease;
}

.blog {
  margin-top: 3.5rem;
}
.blog_content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 95%;
  grid-gap: 20rem;
  margin: 0 auto;
}
.blog_title span {
  text-align: center;
  color: #E51938;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  display: block;
}
@media (min-width: 760px) {
  .blog_title span {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
}
.blog_title h2 {
  font-size: 2.5rem;
  margin: 0 11rem;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
@media (min-width: 760px) {
  .blog_title h2 {
    font-size: 34px;
    text-align: center;
  }
}
.blog_title p {
  margin: 0 2rem;
  display: block;
  color: #666666;
  line-height: 1.7;
  font-size: 1.7rem;
  text-align: justify;
  letter-spacing: 0.1px;
  margin-bottom: 1.3rem;
}
@media (min-width: 760px) {
  .blog_title p {
    text-align: center;
    margin: 0 43rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.7px;
  }
}

@media (min-width: 760px) {
  .cblog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    place-content: center;
    max-width: 800;
  }
  .cblog .cblog_post {
    position: relative;
  }
  .cblog .cblog_post_content {
    width: 40rem;
  }
  .cblog .cblog_post_img,
  .cblog .cblog_post_content {
    position: relative;
  }
  .cblog .cblog_post_content .btn-content {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .cblog .cblog_post_content .btn-mod {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .cblog .cblog_post_img img:hover + .cblog_post_content .btn-content,
  .cblog .cblog_post_content:hover .btn-content {
    display: block;
    opacity: 1;
  }
  .cblog .cblog_post_img img:hover + .cblog_post_content .btn-mod,
  .cblog .cblog_post_content:hover .btn-mod {
    display: block;
    opacity: 1;
  }
  .cblog .cblog_post_img img:hover + .cblog_post_content p,
  .cblog .cblog_post_content:hover p {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .cblog .cblog_post_img img:hover + .cblog_post_content .modify,
  .cblog .cblog_post_content:hover .modify {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .cblog .cblog_post:nth-child(7) {
    transform: translateX(50%);
  }
}
.cblog_post_img img {
  border-radius: 5px;
  width: 45rem;
  height: 30rem;
  margin: 0 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
@media (min-width: 760px) {
  .cblog_post_img img {
    width: 370px;
    height: 280px;
  }
}
.cblog_post_content ul {
  list-style-type: none;
}
.cblog_post_content ul li {
  margin-top: 1rem;
  margin-left: 2rem;
}
.cblog_post_content ul li span {
  color: #E51938;
  font-weight: bolder;
}
.cblog_post_content ul li a {
  text-decoration: none;
  color: #E51938;
}
@media (min-width: 760px) {
  .cblog_post_content ul li a {
    font-size: 1.7rem;
    font-weight: 100;
  }
}
.cblog_post_content ul li a:hover {
  color: #2b2b2b;
  transition: 1s ease;
}
.cblog_post_content h3 {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 2rem;
}
@media (min-width: 760px) {
  .cblog_post_content h3 {
    font-size: 20px;
  }
}
.cblog_post_content a {
  text-decoration: none;
  color: #2b2b2b;
}
.cblog_post_content a:hover {
  color: #E51938;
  transition: 0.5s ease;
}
.cblog_post_content .adjustment {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 2rem;
}
.cblog_post_content a {
  text-decoration: none;
  color: #2b2b2b;
}
.cblog_post_content a:hover {
  color: #E51938;
  transition: 0.5s ease;
}
.cblog_post_content .modify {
  margin-left: 2rem;
}
.cblog_post p {
  color: #666666;
  line-height: 1.7;
  font-size: 1.5rem;
  text-align: justify;
  letter-spacing: 0.1px;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  display: block;
}
@media (min-width: 760px) {
  .cblog_post p {
    line-height: 1.8;
    font-size: 1.7rem;
    text-align: left;
    transition: opacity 0.3s ease;
  }
}
.cblog_post .btn-content {
  text-decoration: none;
  color: #2b2b2b;
  margin-left: 1.7rem;
  margin-top: 1rem;
  font-weight: 700;
}
@media (min-width: 760px) {
  .cblog_post .btn-content {
    margin-top: -4rem;
    display: none;
    transition: opacity 0.3s ease;
  }
}
.cblog_post .btn-content:hover {
  color: #E51938;
  transition: 0.5s ease;
}
.cblog_post .btn-mod {
  text-decoration: none;
  color: #2b2b2b;
  margin-left: 1.7rem;
  font-weight: 700;
}
@media (min-width: 760px) {
  .cblog_post .btn-mod {
    display: none;
    margin-top: -4.5rem;
  }
}
.cblog_post .btn-mod:hover {
  color: #E51938;
  transition: 0.5s ease;
}

@media screen and (min-width: 760px) {
  .others {
    flex-direction: column;
    width: 450px;
    padding: 1rem;
  }
}
.others .search {
  display: flex;
  margin-left: 1rem;
}
.others .search_container {
  background: #FFFFFF;
  padding: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 760px) {
  .others .search_container {
    padding: 1.3rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
}
.others .search_input {
  font-family: "Nunito Sans", sans-serif;
  height: 4rem;
  text-indent: 2rem;
  border: 1px solid lightgray;
  width: 30rem;
  padding: 2.5rem;
  font-size: 1.6rem;
  padding: 2.5rem;
}
@media screen and (min-width: 760px) {
  .others .search_input {
    height: 2rem;
    width: 20rem;
    padding: 2rem;
    font-size: 1.5rem;
  }
}
.others .search_input:focus, .others .search_input input:valid {
  outline: none;
  border: 1.5px solid #E51938;
}
.others .search button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  border: 1px transparent;
  border-radius: 5px;
  background: #E51938;
  color: #ffffff;
  padding: 2rem;
  width: 10rem;
  transition: 0.5s ease;
}
@media screen and (min-width: 760px) {
  .others .search button {
    padding: 1.2rem;
  }
}
.others .search button:hover {
  transition: 0.5s ease;
  background-color: #2b2b2b;
}
.others .recent_post {
  position: relative;
  padding-bottom: 10px;
  margin: 0 2rem;
}
.others .recent_post h2 {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}
.others .recent_post h2::before {
  content: "";
  display: block;
  width: 420px;
  height: 1px;
  background: linear-gradient(to right, #E51938 23%, lightgray 23%);
  position: absolute;
  left: 0;
  bottom: 10px;
}
.others .recent_post ul {
  list-style-type: none;
  margin-top: 1rem;
}
.others .recent_post ul li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 3rem;
}
.others .recent_post ul li i {
  color: #E51938;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.others .recent_post ul li a {
  text-align: left;
  margin-right: 3rem;
}
.others .recent_post ul li a:hover {
  color: #E51938;
  transition: 0.2s ease;
}
.others .recent_comment {
  position: relative;
  padding-bottom: 10px;
  margin: 0 2rem;
  margin-top: 1.5rem;
}
.others .recent_comment h2 {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}
.others .recent_comment h2::before {
  content: "";
  display: block;
  width: 420px;
  height: 1px;
  background: linear-gradient(to right, #E51938 23%, lightgray 23%);
  position: absolute;
  left: 0;
  bottom: 10px;
}
.others .recent_comment ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}
.others .recent_comment ul li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 5rem;
}
.others .recent_comment ul li img {
  width: 3.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.others .recent_comment ul li a {
  text-align: left;
  margin-right: 4rem;
}
.others .recent_comment ul li a:hover {
  color: #E51938;
  transition: 0.2s ease;
}
.others .archive {
  position: relative;
  padding-bottom: 10px;
  margin: 0 2rem;
  margin-top: 1.5rem;
}
.others .archive h2 {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}
.others .archive h2::before {
  content: "";
  display: block;
  width: 420px;
  height: 1px;
  background: linear-gradient(to right, #E51938 23%, lightgray 23%);
  position: absolute;
  left: 0;
  bottom: 10px;
}
.others .archive ul {
  list-style-type: none;
  margin-top: 1rem;
}
.others .archive ul li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 3rem;
}
.others .archive ul li i {
  color: #E51938;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 5px;
}
.others .archive ul li a {
  text-align: left;
  margin-right: 3rem;
}
.others .archive ul li a:hover {
  color: #E51938;
  transition: 0.2s ease;
}
.others .categories {
  position: relative;
  padding-bottom: 10px;
  margin: 0 2rem;
  margin-top: 1.5rem;
}
.others .categories h2 {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}
.others .categories h2::before {
  content: "";
  display: block;
  width: 420px;
  height: 1px;
  background: linear-gradient(to right, #E51938 23%, lightgray 23%);
  position: absolute;
  left: 0;
  bottom: 10px;
}
.others .categories ul {
  list-style-type: none;
  margin-top: 1rem;
}
.others .categories ul li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 3rem;
}
.others .categories ul li i {
  color: #E51938;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 5px;
}
.others .categories ul li a {
  text-align: left;
  margin-right: 3rem;
}
.others .categories ul li a:hover {
  color: #E51938;
  transition: 0.2s ease;
}
.others .tags {
  position: relative;
  padding-bottom: 10px;
  margin: 0 2rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  margin-right: 60px;
}
.others .tags h2 {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}
.others .tags h2::before {
  content: "";
  display: block;
  width: 420px;
  height: 1px;
  background: linear-gradient(to right, #E51938 23%, lightgray 23%);
  position: absolute;
  left: 0;
  bottom: 10px;
}
.others .tags ul {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}
.others .tags a {
  border: 1px solid lightgray;
  background-color: #ffffff;
  padding: 6px 13px;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 8px;
}
.others .tags a:hover {
  color: #ffffff;
  background-color: #E51938;
  transition: 0.2s ease;
}

.footer_container_wrapper {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background: #F9F5F2;
  color: #666666;
  overflow: hidden;
}
.footer_container_wrapper .footer_branding p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.footer_container_wrapper .footer_button {
  display: flex;
  margin-left: 1rem;
}
.footer_container_wrapper .footer_button input {
  font-family: "Nunito Sans", sans-serif;
  height: 4rem;
  text-indent: 2rem;
  border: 1px transparent;
}
.footer_container_wrapper .footer_button button {
  font-family: "Nunito Sans", sans-serif;
  border: 1px transparent;
  border-radius: 5px;
  background: #E51938;
  color: #ffffff;
  width: 15rem;
  transition: 0.5s ease;
}
.footer_container_wrapper .footer_button button:hover {
  transition: 0.5s ease;
  cursor: pointer;
  background-color: #2b2b2b;
}
.footer_container_wrapper .footer_icon {
  margin-left: 1rem;
}
.footer_container_wrapper .footer_icon i {
  margin-right: 1rem;
  transition: 0.5s ease;
  margin-top: 2rem;
}
.footer_container_wrapper .footer_icon i:hover {
  color: #E51938;
  transition: 0.5s ease;
}
.footer_container_wrapper .footer_column {
  margin-top: 3.5rem;
}
.footer_container_wrapper .footer_column h3 {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1.5rem;
  color: #2b2b2b;
}
.footer_container_wrapper .footer_column li {
  margin-bottom: 1rem;
}
.footer_container_wrapper .footer_column li a {
  font-family: "Nunito Sans", sans-serif;
  color: #666666;
  transition: 0.3s ease;
}
.footer_container_wrapper .footer_column li a:hover {
  color: #E51938;
  transition: 0.3s ease;
}
.footer_container_wrapper .footer_column .footer_extra {
  display: none;
}
.footer_container_wrapper .footer_card {
  margin-top: 3.5rem;
}
.footer_container_wrapper .footer_card h3 {
  margin-bottom: 2rem;
  color: #2b2b2b;
}
.footer_container_wrapper .footer_card .footer_text {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.3rem;
}
.footer_container_wrapper .footer_card .footer_text h4 {
  color: #2b2b2b;
}
.footer_container_wrapper .footer_card .footer_text p {
  transition: 0.3s ease;
  cursor: pointer;
}
.footer_container_wrapper .footer_card .footer_text p:hover {
  color: #E51938;
  transition: 0.3s ease;
}
.footer_container_wrapper .footer_card .footer_img {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.footer_container_wrapper .footer_card .footer_extra {
  display: none;
}
@media screen and (min-width: 760px) {
  .footer_container_wrapper {
    display: flex;
    gap: 10rem;
  }
  .footer_container_wrapper .footer_branding {
    margin-left: 15rem;
  }
  .footer_container_wrapper .footer_branding p {
    line-height: 2;
  }
  .footer_container_wrapper .footer_button {
    margin-left: 15rem;
  }
  .footer_container_wrapper .footer_icon {
    margin-left: 16rem;
  }
  .footer_container_wrapper .footer_column li:nth-child(7) {
    margin-bottom: 3rem;
  }
  .footer_container_wrapper .footer_column .footer_extra {
    display: unset;
    margin-left: 2rem;
  }
  .footer_container_wrapper .footer_card .footer_text {
    margin-bottom: 1.5rem;
  }
  .footer_container_wrapper .footer_card .footer_extra {
    display: unset;
    bottom: 2rem;
  }
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
.header_container {
  position: fixed;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 100%;
  z-index: 999;
}
.header_container_wrapper {
  display: flex;
  margin: auto;
}
.header_container_wrapper .header_logo img {
  width: 120px;
}
.header_container_wrapper .header_branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20rem;
  justify-content: space-evenly;
}
.header_container_wrapper .header_links {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
}
.header_container_wrapper .header_links:nth-child(2) {
  flex-direction: row-reverse;
  gap: 2rem;
}
.header_container_wrapper .header_links .header_span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.header_container_wrapper .header_links .header_span span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 20px;
  background-color: black;
}
.header_container_wrapper .header_links .header_span.open span:first-child {
  transform: translate(0, 9px) rotate(135deg);
  width: 30px;
}
.header_container_wrapper .header_links .header_span.open span:nth-child(2) {
  opacity: 0;
}
.header_container_wrapper .header_links .header_span.open span:last-child {
  transform: translate(0, -8px) rotate(-135deg);
  width: 30px;
}
.header_container_wrapper .header_links .header_toggles {
  position: absolute;
  top: 4.5rem;
  right: 0;
  width: 100%;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  overflow: auto;
}
.header_container_wrapper .header_links .header_toggles > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
}
.header_container_wrapper .header_links .header_toggles > ul > li {
  gap: 2rem;
  border-bottom: 1px solid rgb(162, 158, 158);
}
.header_container_wrapper .header_links .header_toggles > ul > li .js-click.open::after {
  content: "-";
}
.header_container_wrapper .header_links .header_toggles > ul > li .js-click + .panel {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease;
}
.header_container_wrapper .header_links .header_toggles > ul > li .js-click + .panel li {
  padding: 1rem;
  border-top: 1px solid rgb(162, 158, 158);
  transition: 0.6s ease;
}
.header_container_wrapper .header_links .header_toggles > ul > li .js-click + .panel li a {
  display: block;
}
.header_container_wrapper .header_links .header_toggles > ul > li:not(:nth-child(3), :last-child) > a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-right: 2rem;
}
.header_container_wrapper .header_links .header_toggles > ul > li:not(:nth-child(3), :last-child) > a::after {
  content: "+";
}
.header_container_wrapper .header_links .header_toggles > ul > li a {
  display: in;
}
.header_container_wrapper .header_links .header_toggles > ul > li a .toggles_svg span {
  font-size: 20px;
  margin-right: 2rem;
}
.header_container_wrapper .header_links .header_toggles > ul > li a:hover {
  color: #E51938;
}
.header_container_wrapper .header_links .header_toggles.open {
  display: block;
}
.header_container_wrapper .header_links .right_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.header_container_wrapper .header_links .header_button {
  display: flex;
  background-color: rgba(255, 111, 111, 0.5);
  color: #E51938;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  transition: 0.6s ease;
  white-space: nowrap;
}
.header_container_wrapper .header_links .header_button svg {
  display: none;
}
.header_container_wrapper .header_links .header_button p {
  font-size: small;
  font-weight: 600;
}
.header_container_wrapper .header_links .header_button:hover {
  background-color: #E51938;
  color: #ffffff;
  transition: 0.6s ease;
  cursor: pointer;
}
@media screen and (min-width: 760px) {
  .header_container {
    display: flex;
    justify-content: center;
    max-width: 2000px;
    padding: 0 1rem;
  }
  .header_container_wrapper {
    display: flex;
    width: 100%;
  }
  .header_container_wrapper .header_branding {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .header_container_wrapper .header_branding .header_logo {
    margin-left: 3rem;
  }
  .header_container_wrapper .header_links {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-left: 0;
  }
  .header_container_wrapper .header_links:nth-child(2) {
    flex-direction: row;
    margin-right: 2rem;
  }
  .header_container_wrapper .header_links .header_span {
    display: none;
  }
  .header_container_wrapper .header_links .header_toggles {
    position: unset;
    max-height: none;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 48rem;
  }
  .header_container_wrapper .header_links .header_toggles ul {
    display: flex;
    flex-direction: row;
  }
  .header_container_wrapper .header_links .header_toggles ul li {
    border: none;
    width: -moz-fit-content !important;
    width: fit-content !important;
    display: flex;
    flex-direction: row;
    place-content: center;
    width: fit-content;
  }
  .header_container_wrapper .header_links .header_toggles ul li:not(:nth-child(3), :last-child) a {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
  .header_container_wrapper .header_links .header_toggles ul li:not(:nth-child(3), :last-child) a::after {
    content: "v" !important;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 0.5rem;
  }
  .header_container_wrapper .header_links .header_toggles ul li .panel {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .header_container_wrapper .header_links .header_toggles ul li .panel ul li a {
    font-weight: 600;
  }
  .header_container_wrapper .header_links .header_toggles ul li:hover .panel {
    display: block;
    max-height: none;
    overflow: visible;
    margin: 2rem;
    width: 30rem;
  }
  .header_container_wrapper .header_links .header_toggles ul li:hover .panel ul {
    display: flex;
    flex-direction: column;
  }
  .header_container_wrapper .header_links .header_toggles ul li:hover .panel ul li {
    border: none;
  }
  .header_container_wrapper .header_links .header_toggles ul li:hover .panel ul li a {
    margin-left: 2rem;
    transition: 0.7s ease;
  }
  .header_container_wrapper .header_links .header_toggles ul li:hover .panel ul li a::after {
    content: none !important;
  }
  .header_container_wrapper .header_links .header_toggles ul li:hover .panel ul li a:hover {
    margin-left: 3rem;
    transition: 0.7s ease;
  }
  .header_container_wrapper .header_links .js-click,
  .header_container_wrapper .header_links .njs {
    font-weight: 600;
    margin-right: 2rem;
  }
  .header_container_wrapper .header_links .header_button {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }
  .header_container_wrapper .header_links .header_button svg {
    display: unset;
  }
  .header_container_wrapper .header_links .header_button:hover svg {
    color: #ffffff;
  }
}/*# sourceMappingURL=main.css.map */
}