/*colors*/
/*breakpoints*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: Oswald, "sans-serif";
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #2b2b2b;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background: transparent;
  border-radius: 5rem;
  border: 1px solid transparent;
  font-size: 2rem;
  transition: 0.5 ease;
  text-align: center;
  margin-left: 9rem;
}
.btn.bg--primary {
  background: #fff021;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
  transition: 0.5 ease;
  background-color: #ffffff;
  color: #fff021;
}

.about_container_wrapper {
  padding: 15rem;
}
.about_container_wrapper .about_text {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  color: #666666;
}
.about_container_wrapper .about_text h1 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 1rem;
}

.us {
  padding: 5rem;
}
.us_container_wrapper {
  text-align: center;
}
.us_container_wrapper .us_branding img {
  width: 100%;
}
.us_container_wrapper .us_text {
  font-family: "Nunito Sans", sans-serif;
}
.us_container_wrapper .us_text .title {
  color: #E51938;
  margin-bottom: 2rem;
}
.us_container_wrapper .us_text h2 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 2rem;
}
.us_container_wrapper .us_text .pg {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2rem;
  color: #666666;
}
.us_container_wrapper .us_button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.us_container_wrapper .us_button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 150px;
  color: #E51938;
  background-color: rgba(229, 25, 56, 0.15);
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.3s ease;
}
.us_container_wrapper .us_button_container:hover {
  background-color: #e51938;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}
@media screen and (min-width: 760px) {
  .us_container_wrapper {
    display: flex;
    text-align: start;
  }
  .us_container_wrapper .us_branding {
    width: 1500px;
  }
  .us_container_wrapper .us_text {
    margin-right: 20rem;
    margin-left: 5rem;
  }
  .us_container_wrapper .us_button {
    display: flex;
    justify-content: start;
  }
}

.mission_container {
  background-color: #f9f9f9;
  padding: 5rem;
}
.mission_container_wrapper {
  text-align: center;
}
.mission_container_wrapper .mission_text .title {
  color: #E51938;
}
.mission_container_wrapper .mission_text h2 {
  font-size: 200%;
  font-weight: 900;
  color: #000000;
  margin-bottom: 2rem;
}
.mission_container_wrapper .mission_text .pg {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 2rem;
  color: #666666;
}
.mission_container_wrapper .mission_text .mission_button {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.mission_container_wrapper .mission_text .mission_button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 150px;
  color: #E51938;
  background-color: rgba(229, 25, 56, 0.15);
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.3s ease;
}
.mission_container_wrapper .mission_text .mission_button_container:hover {
  background-color: #e51938;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}
.mission_container_wrapper .mission_branding {
  margin-top: 2rem;
}
.mission_container_wrapper .mission_branding img {
  width: 100%;
  max-width: 450px;
}
.mission_container_wrapper .mission_branding .mission_carry img {
  width: 350px;
}
@media screen and (min-width: 760px) {
  .mission_container_wrapper {
    display: flex;
    text-align: start;
    padding: 5rem;
  }
  .mission_container_wrapper .mission_text {
    margin-top: 15rem;
    margin-right: 25rem;
    margin-left: 10rem;
    width: 100%;
  }
  .mission_container_wrapper .mission_text .mission_button {
    margin-right: 45rem;
  }
  .mission_container_wrapper .mission_branding {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
  }
  .mission_container_wrapper .mission_branding .mission_man {
    position: relative;
  }
  .mission_container_wrapper .mission_branding .mission_man img {
    width: 750px;
  }
  .mission_container_wrapper .mission_branding .mission_carry {
    position: absolute;
  }
  .mission_container_wrapper .mission_branding .mission_carry img {
    margin-top: 22rem;
    margin-right: 35rem;
    width: 250px;
  }
}
@media screen and (min-width: 760px) {
  .mission_container {
    padding: 0;
  }
}

.footer_container_wrapper {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background: #F9F5F2;
  color: #666666;
  overflow: hidden;
}
.footer_container_wrapper .footer_branding p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
.footer_container_wrapper .footer_button {
  display: flex;
  margin-left: 1rem;
}
.footer_container_wrapper .footer_button input {
  font-family: "Nunito Sans", sans-serif;
  height: 4rem;
  text-indent: 2rem;
  border: 1px transparent;
}
.footer_container_wrapper .footer_button button {
  font-family: "Nunito Sans", sans-serif;
  border: 1px transparent;
  border-radius: 5px;
  background: #E51938;
  color: #ffffff;
  width: 15rem;
  transition: 0.5s ease;
}
.footer_container_wrapper .footer_button button:hover {
  transition: 0.5s ease;
  background-color: #2b2b2b;
}
.footer_container_wrapper .footer_icon {
  margin-left: 1rem;
}
.footer_container_wrapper .footer_icon i {
  margin-right: 1rem;
  transition: 0.5s ease;
  margin-top: 2rem;
}
.footer_container_wrapper .footer_icon i:hover {
  color: #E51938;
  transition: 0.5s ease;
}
.footer_container_wrapper .footer_column {
  margin-top: 3.5rem;
}
.footer_container_wrapper .footer_column h3 {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1.5rem;
  color: #2b2b2b;
}
.footer_container_wrapper .footer_column li {
  margin-bottom: 1rem;
}
.footer_container_wrapper .footer_column li a {
  font-family: "Nunito Sans", sans-serif;
  color: #666666;
  transition: 0.3s ease;
}
.footer_container_wrapper .footer_column li a:hover {
  color: #E51938;
  transition: 0.3s ease;
}
.footer_container_wrapper .footer_column .footer_extra {
  display: none;
}
.footer_container_wrapper .footer_card {
  margin-top: 3.5rem;
}
.footer_container_wrapper .footer_card h3 {
  margin-bottom: 2rem;
  color: #2b2b2b;
}
.footer_container_wrapper .footer_card .footer_text {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.3rem;
}
.footer_container_wrapper .footer_card .footer_text h4 {
  color: #2b2b2b;
}
.footer_container_wrapper .footer_card .footer_text p {
  transition: 0.3s ease;
  cursor: pointer;
}
.footer_container_wrapper .footer_card .footer_text p:hover {
  color: #E51938;
  transition: 0.3s ease;
}
.footer_container_wrapper .footer_card .footer_img {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.footer_container_wrapper .footer_card .footer_extra {
  display: none;
}
@media screen and (min-width: 760px) {
  .footer_container_wrapper {
    display: flex;
    gap: 10rem;
  }
  .footer_container_wrapper .footer_branding {
    margin-left: 15rem;
  }
  .footer_container_wrapper .footer_branding p {
    line-height: 2;
  }
  .footer_container_wrapper .footer_button {
    margin-left: 15rem;
  }
  .footer_container_wrapper .footer_icon {
    margin-left: 16rem;
  }
  .footer_container_wrapper .footer_column li:nth-child(7) {
    margin-bottom: 3rem;
  }
  .footer_container_wrapper .footer_column .footer_extra {
    display: unset;
    margin-left: 2rem;
  }
  .footer_container_wrapper .footer_card .footer_text {
    margin-bottom: 1.5rem;
  }
  .footer_container_wrapper .footer_card .footer_extra {
    display: unset;
    bottom: 2rem;
  }
}

.header {
  top: 0;
  z-index: 1000;
  background: linear-gradient(to right bottom, #fffefe, #fffbf6, #fcfbee, #eafeef, #d7fffe);
}
.header_container {
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}
.header_container_wrapper {
  display: flex;
  width: 100%;
}
.header_container_wrapper .header_logo {
  margin-right: 17rem;
}
.header_container_wrapper .header_logo img {
  width: 120px;
}
.header_container_wrapper .header_links {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
}
.header_container_wrapper .header_links:nth-child(2) {
  flex-direction: row-reverse;
  gap: 2rem;
}
.header_container_wrapper .header_links .header_span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
}
.header_container_wrapper .header_links .header_span span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
}
.header_container_wrapper .header_links .header_span.open span:first-child {
  transform: translate(0, 6px) rotate(135deg);
  width: 20px;
}
.header_container_wrapper .header_links .header_span.open span:nth-child(2) {
  opacity: 0;
}
.header_container_wrapper .header_links .header_span.open span:last-child {
  transform: translate(0, -10px) rotate(-135deg);
  width: 20px;
}
.header_container_wrapper .header_links .header_toggles {
  position: absolute;
  top: 8rem;
  right: 0;
  width: 100%;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}
.header_container_wrapper .header_links .header_toggles ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
}
.header_container_wrapper .header_links .header_toggles ul li {
  gap: 2rem;
  border-bottom: 1px solid rgb(162, 158, 158);
}
.header_container_wrapper .header_links .header_toggles ul li a {
  display: flex;
  align-items: center;
  width: 100%;
}
.header_container_wrapper .header_links .header_toggles ul li a .toggle_link {
  flex: 1;
}
.header_container_wrapper .header_links .header_toggles ul li a .toggles_svg span {
  font-size: 20px;
  margin-right: 2rem;
}
.header_container_wrapper .header_links .header_toggles ul li a:hover {
  color: #E51938;
}
.header_container_wrapper .header_links .header_toggles.open {
  display: block;
  max-height: 350px;
}
.header_container_wrapper .header_links .header_button {
  display: flex;
  background-color: rgba(255, 111, 111, 0.5);
  color: #E51938;
  gap: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.6s ease;
}
.header_container_wrapper .header_links .header_button svg {
  display: none;
}
.header_container_wrapper .header_links .header_button:hover {
  background-color: #E51938;
  color: #ffffff;
  transition: 0.6s ease;
}
@media screen and (min-width: 760px) {
  .header_container_wrapper {
    display: flex;
    width: 100%;
  }
  .header_container_wrapper .header_logo {
    margin-right: 61rem;
  }
  .header_container_wrapper .header_links {
    justify-content: end;
    flex-direction: row;
    width: 100%;
  }
  .header_container_wrapper .header_links:nth-child(2) {
    flex-direction: row;
    margin-right: 2rem;
  }
  .header_container_wrapper .header_links .header_span {
    display: none;
  }
  .header_container_wrapper .header_links .header_span.open {
    display: none;
  }
  .header_container_wrapper .header_links .header_toggles {
    position: static;
    max-height: none;
  }
  .header_container_wrapper .header_links .header_toggles ul {
    flex-direction: row;
    gap: 4rem;
  }
  .header_container_wrapper .header_links .header_toggles ul li {
    border: none;
  }
  .header_container_wrapper .header_links .header_toggles .toggle_icon {
    content: "v";
  }
  .header_container_wrapper .header_links .header_button {
    width: 15rem;
  }
  .header_container_wrapper .header_links .header_button svg {
    display: unset;
  }
  .header_container_wrapper .header_links .header_button:hover svg {
    color: #ffffff;
  }
}/*# sourceMappingURL=main.css.map */