.header{
    top: 0;
    width: 100%;
    z-index: 1000;

    &_container{  
        position: fixed;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
        background-color: $clr-light;
        width: 100%;
        z-index: 999;
        
        &_wrapper{
            display: flex;
            margin: auto;
        
        .header_logo{
            img{
                width: 120px;
            }
        }
        .header_branding{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
        }
        .header_links{
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            width: 100%;


            &:nth-child(2){
                flex-direction: row-reverse;
                gap: 2rem;
            }
            
            .header_span{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin-right: 2rem;
                cursor: pointer;
                span{
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: black;
                }
                &.open{
                    span{
                        &:first-child{
                            transform: translate(0, 6px) rotate(135deg);
                            width: 20px;
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:last-child{
                            transform: translate(0, -10px) rotate(-135deg);
                            width: 20px;
                        }
                    }
                }
            }

            .header_toggles{
                position: absolute;
                top:4.5rem;
                right: 0;
                width: 100%;
                transition: max-height 0.3s ease-out;
                max-height: 0;
                overflow: auto;

                > ul{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    background-color: $clr-light;

                    > li{
                        gap: 2rem;
                        border-bottom: 1px solid rgb(162, 158, 158);

                        .js-click{
                            
                            &.open{
                                &::after{
                                    content: "-";
                                }
                            }

                            +.panel{
                                max-height: 0;
                                overflow: hidden;
                                li {
                                    padding: 1rem;
                                    border-top: 1px solid rgb(162, 158, 158);
                                    a{
                                        display: block;
                                    }
                                }
                            }
                        }
                        &:not(:nth-child(3), :last-child) {
                            > a {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                justify-content: space-between;
                                padding-right: 2rem;
                                
                                &::after{
                                    content: "+";
                                }
                            }
                        }
                        a{
                            display: in;
                            .toggles_svg {
                                span{
                                    font-size: 20px;
                                    margin-right: 2rem;
                                }
                            }

                            &:hover{
                                color: $clr-red;
                            }
                        }
                    }  
                }
                &.open{
                    display: block;
                }
            }

            .right_items{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }

            .header_button{
                display: flex;
                background-color: rgba(255, 111, 111, 0.5);
                color: $clr-red;
                gap: 1rem;
                padding: 1rem;
                border-radius: 5px;
                transition: 0.6s ease;
                white-space: nowrap;
                svg{
                    display: none;
                }

                &:hover{
                    background-color: $clr-red;
                    color: $clr-light;
                    transition: 0.6s ease;
                }
            }
        }
        }
    }

    @include mediaQuery($break-md) {
        &_container {
            &_wrapper {
                display: flex;
                width: 100%;

                .header_branding{
                    width: 100%;
                    justify-content: space-between;
                }
               
                .header_links {
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    margin-left: auto;

                    &:nth-child(2){
                        flex-direction: row;
                        margin-right: 2rem;
                    }

                    .header_span {
                        display: none;
                    }

                    .header_toggles {
                        position: unset;
                        max-height: none;
                        width: fit-content;


                        ul {
                            display: flex;
                            flex-direction: row;

                            li{
                                border: none;
                                width: fit-content !important;
                                display: flex;
                                flex-direction: row;
                                place-content: center;
                                /* hover for window nav a{
                                    .toggle_link{
                                        &:hover{
                                            
                                        }
                                    }
                                }*/
                                &:not(:nth-child(3), :last-child) {
                                    a{
                                        width: fit-content;
                                        display: flex;
                                        flex-direction: row;
                                        &::after{
                                            content: "v" !important;
                                            width: fit-content;
                                        }
                                    }
                                }

                                
                                .panel{
                                    display: none;
                                }

                                width: fit-content;
                            }
                        }
                        
                        &:hover{
                            display: block;
                        }
                    }

                    .header_button{
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        svg{
                            display: unset;
                        }

                        &:hover{
                            svg{
                                color: $clr-light;
                            }
                        }
                    }
                }
            }
        }
    }
}